In [40]:
# List 
# 1)List is Collection of items storing in single variable
# 2)List allows duplicate items
# 3)List is changable
# 4)List is Indexed and Ordered
# 5)List defines in []

In [41]:
name=["Sagar","Amit","Amar","Priya","Jeet","Meet"]
sports=list()
print(type(name))
print(type(sports))

<class 'list'>
<class 'list'>

In [11]:
# How to access elements from list
ab=name[-5:5]
print(ab)

['Amit', 'Amar', 'Priya', 'Jeet']

In [13]:
# Items Insert and Remove
name=["Sagar","Amit","Amar","Priya","Jeet","Meet"]
#a=input("Enter the Items in List")
#name.insert(1,a)
name.insert(2,"akshay")
print(name)

['Sagar', 'Amit', 'akshay', 'Amar', 'Priya', 'Jeet', 'Meet']

In [15]:
name=["Sagar","Amit","Amar","Priya","Jeet","Meet"]
a=input("Enter the Items in List : ")
# b="Sangeeta"
name.append(a)
print(name)

Enter the Items in List : sayali
['Sagar', 'Amit', 'Amar', 'Priya', 'Jeet', 'Meet', 'sayali']

In [ ]:
# #Tuple
# 1)Tuple is not changable
# 2)Tuple allows duplicate members
# 3)Tuple ()
# 4)Its Indexed and Ordered

In [16]:
city=()
city1=tuple()
print(type(city))
print(type(city1))

<class 'tuple'>
<class 'tuple'>

In [17]:
city=("Mumbai","Pune","Kolhapur","Satara","Karad","Sangli","Nashik")
print(len(city))

7

In [18]:
print(city[2:-3])

('Kolhapur', 'Satara')

In [19]:
city=("Mumbai","Pune","Kolhapur","Satara","Karad","Sangli","Nashik")
t2=("2Mumbai","Pun1e","Kolhapu1r","S1atara","Kar1ad","Sangl1i","Nashik1")
t1=city+t2
print(t1)

('Mumbai', 'Pune', 'Kolhapur', 'Satara', 'Karad', 'Sangli', 'Nashik', '2Mumbai', 'Pun1e', 'Kolhapu1r', 'S1atara', 'Kar1ad', 'Sangl1i', 'Nashik1')

In [20]:
t2=("2Mumbai","Pun1e","Kolhapu1r","S1atara","Kar1ad","Sangl1i","Nashik1")
t1=t2*2
print(t1)

('2Mumbai', 'Pun1e', 'Kolhapu1r', 'S1atara', 'Kar1ad', 'Sangl1i', 'Nashik1', '2Mumbai', 'Pun1e', 'Kolhapu1r', 'S1atara', 'Kar1ad', 'Sangl1i', 'Nashik1')

In [ ]:
#Sets
# 1)Set Not Allows Duplicate Items
# 2)Sets does not provide ordered and indexed concepts
# 3)Sets is Changable
# 4)Sets {}

In [22]:
name={"Ajay","Amit","Ankita","Sayali","Nikita","Renu","Kajal","Me"}
name1=set()
print(type(name))
print(type(name1))

<class 'set'>
<class 'set'>

In [24]:
city={"Name":"Abhay"}
print(type(city))

<class 'dict'>

In [25]:
name={"Ajay","Amit","Ankita","Sayali","Nikita","Renu","Kajal","Me"}
ab=name[1]
print(ab)

TypeError: 'set' object is not subscriptable

In [28]:
name={"Ajay","Amit","Ankita","Sayali","Nikita","Renu","Kajal","Me"}
ab=name[1:5]
print(ab)

TypeError: 'set' object is not subscriptable

In [29]:
name={"Ajay","Amit","Ankita","Sayali","Nikita","Renu","Kajal","Me"}
name.add("Amit")
print(name)

{'Amit', 'Nikita', 'Renu', 'Ajay', 'Kajal', 'Ankita', 'Me', 'Sayali'}

In [30]:
name={"Ajay","Amit","Ankita","Sayali","Nikita","Renu","Kajal","Me"}
name.discard("Amit")
print(name)

{'Nikita', 'Renu', 'Ajay', 'Kajal', 'Ankita', 'Me', 'Sayali'}

In [34]:
name={"Ajay","Amit","Ankita","Sayali","Nikita","Renu","Kajal","Me"}
#name.remove("shiva")
name.remove("Amit")
print(name)

{'Nikita', 'Renu', 'Ajay', 'Kajal', 'Ankita', 'Me', 'Sayali'}

In [35]:
# How to join
name={"Ajay","Amit","Ankita","Sayali","Nikita","Renu","Kajal","Me"}
name1={"A1jay","A1mit","A1nkita","S1ayali","Ni1kita","Ren1u","K1ajal","M1e"}
sets1=name.union(name1)
print(sets1)

{'Amit', 'Nikita', 'Ren1u', 'A1nkita', 'Ni1kita', 'Renu', 'Ajay', 'A1jay', 'S1ayali', 'Kajal', 'Ankita', 'A1mit', 'K1ajal', 'Me', 'M1e', 'Sayali'}

In [4]:
n={"Ajay","Amit","Ankita","Sayali","Nikita","Renu","Kajal","Me"}
for x in n:
    if x=="Sayali":
        print("I am Best...")
    else:
        print("No....")

No....
No....
I am Best...
No....
No....
No....
No....
No....

In [56]:
#Dictionaries
# Dictionaries are collections of Key and Values Pairs
# This is Not allows keys as duplicate...but values you can add duplicate
#Ordered and Indexed
# a={keys and valaues}

In [38]:
name={}
nameq=dict()
print(type(name))
print(type(nameq))

<class 'dict'>
<class 'dict'>

In [41]:
name={"Boys":"Amit",
      "Girls":"Pooja",
       "City":"Pune",
     "Pin Code":1234}
print(name)

{'Boys': 'Amit', 'Girls': 'Pooja', 'City': 'Pune', 'Pin Code': 1234}

In [42]:
name["Boys"]

'Amit'

In [43]:
print(name[1])

KeyError: 1

In [46]:
name={"Name":"Sayali",
      "No":123,
       "City":"Pune",
     "Pin Code":1234}
print(name)

{'Name': 'Sayali', 'No': 123, 'City': 'Pune', 'Pin Code': 1234}

In [50]:
for x in name.values():
    print(x)

Sayali
123
Pune
1234

In [51]:
for x in name.keys():
    print(x)

Name
No
City
Pin Code

In [52]:
for x,y in name.items():
    print(x,y)

Name Sayali
No 123
City Pune
Pin Code 1234

In [3]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.pop()
x

'cherry'

23/3/22

In [ ]:
# Tuple

In [6]:
name=("sayali","kajal","pooja","asfiya","renu")
name
print(len(name))

5

In [7]:
print(type(name))

<class 'tuple'>

In [13]:
name[0]

'sayali'

In [17]:
name=("sayali","kajal","pooja","asfiya","renu")
city=("Baramati","Kolhapur","Pune","Satara","Karad")
d=name+city
print(d)

('sayali', 'kajal', 'pooja', 'asfiya', 'renu', 'Baramati', 'Kolhapur', 'Pune', 'Satara', 'Karad')

In [18]:
d1=("5sayali","4kajal","3pooja","2asfiya","1renu")
s=d1*2
print(s)

('5sayali', '4kajal', '3pooja', '2asfiya', '1renu', '5sayali', '4kajal', '3pooja', '2asfiya', '1renu')

In [ ]:
# set

In [30]:
fruits={"mango","banaa","cherry","watermelon","apple"}
fruits

{'apple', 'banaa', 'cherry', 'mango', 'watermelon'}

In [42]:
fruits.add("pineapple")
print(fruits)

{'banaa', 'apple', 'mango', 'cherry', 'pineapple', 'watermelon'}

In [35]:
fruits.discard("grapes")
print(fruits)

{'apple', 'banaa', 'cherry', 'mango', 'pinapple', 'pineapple', 'watermelon'}

In [37]:
fruits={"mango","banaa","cherry","watermelon","apple"}
fruits.remove("grapes")
print(fruits)

KeyError: 'grapes'

In [ ]:
# Dictionaries

In [38]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [39]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [43]:
stud_info={"Name":"Sayali","Roll_No":1234,"Emai_Id":"sayaliadsul2016@gmail.com"}
print(stud_info)

{'Name': 'Sayali', 'Roll_No': 1234, 'Emai_Id': 'sayaliadsul2016@gmail.com'}

In [45]:
x=stud_info.keys()
print(x)

dict_keys(['Name', 'Roll_No', 'Emai_Id'])

In [47]:
x1=stud_info.values()
print(x1)

dict_values(['Sayali', 1234, 'sayaliadsul2016@gmail.com'])

In [48]:
stud_info["Mob_no"]=4587962
print(stud_info)

{'Name': 'Sayali', 'Roll_No': 1234, 'Emai_Id': 'sayaliadsul2016@gmail.com', 'Mob_no': 4587962}