In [1]:
city_name=["pune","mumbai","baramati"]
pune=[]
mumbai=[]
baramati=[]
temp=[]
marksheet=[]
for city in city_name:
    if city=="pune":
        for x1 in range(3):
            name=input("Enter the Name : ")
            pune.append(name)
            for x2 in range(3):
                marks=int(input("Enter the marks: "))
                temp.append(marks)
            print("----------------------------------------------")

        for m in temp:
            if m>=1 and m<=35:
                print("He is failed")
            elif m>=35 and m<=60:
                print("Pass with good marks")
            elif m>60 and m<100:
                print("very good marks")
            else:
                pint("Wrong o/p.....")
print(pune)
print(temp)

Enter the Name : sayali
Enter the marks: 56
Enter the marks: 63
Enter the marks: 96
----------------------------------------------
Enter the Name : pooja
Enter the marks: 12
Enter the marks: 32
Enter the marks: 35
----------------------------------------------
Enter the Name : sai
Enter the marks: 45
Enter the marks: 12
Enter the marks: 96
----------------------------------------------
Pass with good marks
very good marks
very good marks
He is failed
He is failed
He is failed
Pass with good marks
He is failed
very good marks
['sayali', 'pooja', 'sai']
[56, 63, 96, 12, 32, 35, 45, 12, 96]

In [4]:
# This program : List
city_name=["pune","mumbai","baramati"]
pune_stud=[]
for city in city_name:
    if city=="pune":
        for i in range(3):
            name=input("Enter the Name : ")
            pune_stud.append(name)
print("My Pune students : ",pune_stud)

Enter the Name : sayali
Enter the Name : pooja
Enter the Name : seema
My Pune students :  ['sayali', 'pooja', 'seema']

In [6]:
# This program : Set
city_name=["pune","mumbai","baramati"]
pune=set()
for city in city_name:
    if city=="pune":
        for i in range(3):
            name=input("Enter the name : ")
            pune.add(name)
print("My Pune students : ",pune)

Enter the name : sayali
Enter the name : sayali
Enter the name : sayali
My Pune students :  {'sayali'}

In [1]:
city_name=["pune","mumbai","baramati"]
bmt_name=[]
bmt_marks=[]
for city in city_name:
    if city=="baramati":
        for i in range(3):
            name=input("Enter the Name : ")
            bmt_name.append(name)
            for j in range(3):
                marks=int(input("Enter the Marks : "))
                bmt_marks.append(marks)
                total=sum(bmt_marks)
            print("Total marks : ",total)
            print("------------------------------------------------")
print(bmt_name)
print(bmt_marks)

Enter the Name : sayali
Enter the Marks : 56
Enter the Marks : 23
Enter the Marks : 85
Total marks :  164
------------------------------------------------
Enter the Name : pooa
Enter the Marks : 63
Enter the Marks : 56
Enter the Marks : 98
Total marks :  381
------------------------------------------------
Enter the Name : seema
Enter the Marks : 56
Enter the Marks : 89
Enter the Marks : 74
Total marks :  600
------------------------------------------------
['sayali', 'pooa', 'seema']
[56, 23, 85, 63, 56, 98, 56, 89, 74]

In [3]:
# This program : Set
city_name=["pune","mumbai","baramati"]
pune=tuple()
for city in city_name:
    if city=="pune":
        for i in range(3):
            name=input("Enter the name : ")
            pune.insert(name)
print("My Pune students : ",pune)

Enter the name : s

AttributeError: 'tuple' object has no attribute 'insert'