In [3]:
def data():
    for i in range(5):
        print("I am sayali...")

In [4]:
data()

I am sayali...
I am sayali...
I am sayali...
I am sayali...
I am sayali...

In [12]:
n=[]
def school():
    for i in range(3):
        name=input("Enter the name : ")
        n.append(name)
    return n

In [13]:
sh=school()

Enter the name : seema
Enter the name : sayali
Enter the name : asfiya

In [16]:
for x in sh:
    print(x)

seema
sayali
asfiya

In [2]:

city_name=[]
def details():
    name1=[]
    num1=[]
    #marks=[]
    #city_name=[]
    n=int(input("Enter the loop count : "))
    for i in range(n):
        name=input("Enter the name : ")
        num=int(input("Enter the number : "))
        print("---------------------------------------")
        name1.append(name)
        num1.append(num)
    #print(name1)
    print(num1)
    return name1

def Name():
    ab=details()
    
    marks=[]
    for x in ab:
        if x=="seema":
            for x1 in range(5):
                mark=int(input("Enter the marks : "))
                marks.append(mark)
            print(marks)
        elif x=="ankita":
            city=input("Enter the city : ")
            city_name.append(city)
            print(city_name)
        return city_name
def data():
    ab1=Name()
    for y in ab1:
        if y=="baramati":
            print("Hii! welcome to Baramati...")
        else:
            print("SORRY.....")
        
data()

Enter the loop count : 2
Enter the name : ankita
Enter the number : 123
---------------------------------------
Enter the name : sayali
Enter the number : 456
---------------------------------------
[123, 456]
Enter the city : sangli
['sangli']
SORRY.....

# class

In [2]:
class data:
    def school(self,a,b):
        self.a=a
        self.b=b
        print(self.a+self.b)
    def details(self):
        name=[]
        number=[]
        for i in range(self.a+self.b):
            n=input("Enter the Name : ")
            num=int(input("Enter the Number : "))
            name.append(n)
            number.append(num)
        print("My name list is...",name)
        print("My number list is...",number)

#             prin()
#     def show(self):
#             print("My name is...",self.name)
#             print("My number is...",sels.num)

a=int(input("Enter the 1st Number : "))
b=int(input("Enter the 2nd  Number : "))
obj=data()
obj.school(a,b)
obj.details()
# obj.show()

Enter the 1st Number : 1
Enter the 2nd  Number : 3
4
Enter the Name : seema
Enter the Number : 1
Enter the Name : pooja
Enter the Number : 2
Enter the Name : sayali
Enter the Number : 3
Enter the Name : asfiya
Enter the Number : 4
My name list is... ['seema', 'pooja', 'sayali', 'asfiya']
My number list is... [1, 2, 3, 4]

In [18]:
name_list=["sayali","akshay","seema","amar","pooja","abhi","asfiya","girish","nikita","sagar"]
girls=["sayali","seema","pooja","asfiya","nikita"]
boys=["akshay","amar","abhi","girish","sagar"]
baramati=set()
pune=set()
for i in name_list:
    for g in girls:
        if i==g:
            baramati.add(g)
    for b in boys:
        if i==b:
            pune.add(b)
        
print(baramati)
print(pune)

{'nikita', 'seema', 'asfiya', 'pooja', 'sayali'}
{'girish', 'akshay', 'abhi', 'sagar', 'amar'}