In [34]:
arr=[1,3,5,2,10,99,9]

def getMinimumCost(arr):
#     n=4
#     total=0
    #arr=[1,3,5,2,10]
    for ele in range(0, len(arr)):
        for x1 in arr:
            t =(arr[0]-arr[1])
            t1=(arr[1]-arr[2])
            t2=(arr[2]-arr[3])
            t3=(arr[3]-arr[4])

        total=(t**2+t1**2+t2**2+t3**2)
    print(total)
getMinimumCost(arr)

81

In [10]:
n=4
total=0
arr=[1,3,5,2,10]
arr.insert(2,4)
print(arr)

for ele in range(0, len(arr)):
    t =(arr[0]-arr[1])
    t1=(arr[1]-arr[2])
    t2=(arr[2]-arr[3])
    t3=(arr[3]-arr[4])
    t4=(arr[4]-arr[5])

    total=(t**2+t1**2+t2**2+t3**2+t4**2)
    
print(total)

[1, 3, 4, 5, 2, 10]
79

In [12]:
n=4
total=0
arr=[1,3,5,2,10]
arr.insert(4,6)
print(arr)

for ele in range(0, len(arr)):
    t =(arr[0]-arr[1])
    t1=(arr[1]-arr[2])
    t2=(arr[2]-arr[3])
    t3=(arr[3]-arr[4])
    t4=(arr[4]-arr[5])
    

    total=(t**2+t1**2+t2**2+t3**2+t4**2)
    
print(total)

[1, 3, 5, 2, 6, 10]
49

In [19]:
arr=[1,3,5,2,10]
def getMinimumCost(arr):
    n=4
    total=0
    #arr=[1,3,5,2,10]
    for ele in range(0, len(arr)):
        t =(arr[ele]-arr[ele])
       #t1=(arr[1]-arr[2])
        #t2=(arr[2]-arr[3])
        #t3=(arr[3]-arr[4])

        total=(t**2)
    
    print(total)
getMinimumCost(arr)

0

In [26]:

ele = 0
 
# creating a list
#list1 = [11, 5, 17, 18, 23]
arr=[1,3,5,2,10] 
while(ele < len(arr)):
    total = arr[ele] + arr[ele]
    t=total**2
    ele += 1
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  20