In [1]:
s=["sayali","pooja","kajal","niki","renu"]
a=[]
for i in s:
    for j in range(3):
        sub=int(input("Enter the marks: "))
        a.append(sub)
        total=sum(a)
        avg=total/3
    print("Total:",total)
    print("Average:",avg)
    print("----------------------------------------------------")

Enter the marks: 45
Enter the marks: 96
Enter the marks: 78
Total: 219
Average: 73.0
----------------------------------------------------
Enter the marks: 96
Enter the marks: 14
Enter the marks: 52
Total: 381
Average: 127.0
----------------------------------------------------
Enter the marks: 63
Enter the marks: 78
Enter the marks: 98
Total: 620
Average: 206.66666666666666
----------------------------------------------------
Enter the marks: 45
Enter the marks: 65
Enter the marks: 78
Total: 808
Average: 269.3333333333333
----------------------------------------------------
Enter the marks: 96
Enter the marks: 41
Enter the marks: 52
Total: 997
Average: 332.3333333333333
----------------------------------------------------

In [ ]:
city=["Pune","goa","Karad"]
p=[]
g=[]
k=[]
for i in city:
    j=len(i)
    for x in range(j):
        place=input("Enter the Place:")
        p.append(place)
        g.append(place)
        k.append(place)
    print(p)
    print(g)
    print(k)
        
    print("---------------------------------------------")

Enter the Place:goa
Enter the Place:mahableshwar
Enter the Place:lonavala
Enter the Place:khandala
['goa', 'mahableshwar', 'lonavala', 'khandala']
['goa', 'mahableshwar', 'lonavala', 'khandala']
['goa', 'mahableshwar', 'lonavala', 'khandala']
---------------------------------------------
Enter the Place:jejuri
Enter the Place:kolhapur
Enter the Place:baramati
['goa', 'mahableshwar', 'lonavala', 'khandala', 'jejuri', 'kolhapur', 'baramati']
['goa', 'mahableshwar', 'lonavala', 'khandala', 'jejuri', 'kolhapur', 'baramati']
['goa', 'mahableshwar', 'lonavala', 'khandala', 'jejuri', 'kolhapur', 'baramati']
---------------------------------------------
Enter the Place:dubai
Enter the Place:paris
Enter the Place:america

In [3]:
s=["sayali","pooja","kajal","niki"]
a=[]
even_odd=[]
for i in s:
    for j in range(3):
        sub=int(input("Enter the marks: "))
        a.append(sub)
        total=sum(a)
    even_odd.append(total)
    print(even_odd)
for x in even_odd:
    if x%2==0:
        j=x+75
        print("Even: ",j)
    else:
        z=x-25
        print("odd: ",z)

Enter the marks: 78
Enter the marks: 98
Enter the marks: 74
[250]
Enter the marks: 85
Enter the marks: 96
Enter the marks: 14
[250, 445]
Enter the marks: 52
Enter the marks: 36
Enter the marks: 78
[250, 445, 611]
Enter the marks: 85
Enter the marks: 33
Enter the marks: 77
[250, 445, 611, 806]
Even:  325
odd:  420
odd:  586
Even:  881