In [1]:
# 27/4/22

In [2]:
a=["sayali","pooja","seema"]
for i in a:
    if i=="sayali":
        for i in range(10):
            print("sayali")

sayali
sayali
sayali
sayali
sayali
sayali
sayali
sayali
sayali
sayali

In [3]:
name=["sayali","seema","pooja","kajal"]
city_name=["karad","baramati","mumbai","pune"]
for c in city_name:
    if c=="pune":
        name.remove("kajal")
        print(name)
    elif c=="baramati":
        name.insert(4,"renu")
        name.insert(5,"nikita")
        print(name)

['sayali', 'seema', 'pooja', 'kajal', 'renu', 'nikita']
['sayali', 'seema', 'pooja', 'renu', 'nikita']

In [4]:
name=["sayali","seema","pooja","kajal"]
city_name=["karad","baramati","mumbai","pune"]
for c in city_name:
    if c=="baramati":
        name.insert(4,"renu")
        name.insert(5,"nikita")
    
    elif c=="pune":
        for i in range(2):
            name.pop( )
print(name)

['sayali', 'seema', 'pooja', 'kajal']

In [5]:
# even odd
a=[20,30,40,25,35]
even=[]
odd=[]
for i in a:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[20, 30, 40]
[25, 35]

In [36]:
# even odd
a=[22,13,41,20,30]
even=[]
odd=[]
for i in a:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[22, 20, 30]
[13, 41]

In [37]:
# even odd
a=[22,13,41,20,30]
even=[]
odd=[]
for i in a:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)
b=even+odd
b.sort()
b

[22, 20, 30]
[13, 41]

[13, 20, 22, 30, 41]

In [39]:
# even odd
a=[22,13,41,20,30]
even=[]
odd=[]
for i in a:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
even.sort()
odd.sort()
b=even+odd
b

[20, 22, 30, 13, 41]